<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../../logo.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <input type="text" v-model='result'>
        <ul>
            <li v-for='(item, index) in persons'>
                {{item.id}} -- {{item.name}} -- {{item.age}}
            </li>
        </ul>
        <button>升序排序</button>
        <button>降序排序</button>
        <button>原序排序</button>
    </div>
    <script src="../../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                persons: [{
                        id: 1,
                        name: 'Hong',
                        age: 12
                    },
                    {
                        id: 2,
                        name: 'le',
                        age: 13
                    }, {
                        id: 3,
                        name: 'tian',
                        age: 14
                    }, {
                        id: 4,
                        name: 'yue',
                        age: 15
                    }
                ],
                info: '',
                computed: {
                    result() {
                        const {
                            persons,
                            info
                        } = this;

                        return persons.filter(item => {
                            item.name.includes(info);
                        });
                    }
                }
            }
        });
    </script>
</body>

</html>