<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../../logo.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <input type="text" name="" v-model='info' id="">
        <ul>
            <li v-for='(item, index) in result' :key="item.id">
                {{index}} -- {{item.id}} -- {{item.name}} -- {{item.age}}
            </li>
        </ul>
        <button @click='sort=1'>升序</button>
        <button @click='result(2)'>降序</button>
        <button @click='result(0)'>原序</button>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: ' #app',
            data: {
                info: '',
                searchType: 0, // 0 -- 原序排序； 1 -- 升序排序； 2 -- 降序排序
                persons: [{
                        id: 1,
                        name: 'aa',
                        age: 10
                    }, {
                        id: 2,
                        name: 'b',
                        age: 5
                    },
                    {
                        id: 3,
                        name: 'bc',
                        age: 23
                    },
                    {
                        id: 4,
                        name: 'affgga',
                        age: 14
                    }, {
                        id: 5,
                        name: 'asssdb',
                        age: 1
                    },
                    {
                        id: 6,
                        name: 'abwewec',
                        age: 54
                    }
                ]
            },
            computed: {
                result(flag) {
                    const {
                        info,
                        persons
                    } = this;

                    const arr = persons.filter(item => {
                        return item.name.includes(info);
                    });


                    arr.sort((a, b) => {
                        if (flag !== 0) {
                            if (flag == 1) {
                                return a.age - b.age;
                            } else if (flag == 2) {
                                return b.age - a.age;
                            }
                        }
                    });

                    return arr;
                }
            }
        });
    </script>
</body>

</html>