<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <select name="select" id="select" v-model='Selected'>
            <option v-for='info in infos' :value="info.value">{{info.text}}</option>
        </select>
        <div>{{selected}}</div>
    </div>
    <script src="../../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                selected: 'A',
                infos: [{
                        value: 'B',
                        text: 'B'
                    },
                    {
                        value: 'C',
                        text: 'C'
                    }
                ]
            }
        });
    </script>
</body>

</html>